@inherits EditorBase

<div id="container">
    <div class="column left">
        <div class="dropdownContainer">
            <label for="selectProgram">Program: </label>
            <select id="selectProgram" disabled="@IsRunning" @onchange="OnSampleSelected">
                <option selected="@(LastSavedKey == SelectedSample)" value="@LastSavedKey">@LastSavedKey</option>
                @foreach (var sample in CodeSamples)
                {
                    <option selected="@(sample == SelectedSample)" value=@sample>@sample</option>
                }
            </select>
        </div>
        <button class="btn btn-secondary btnSave" disabled="@IsRunning" @onclick="@Save">Save</button>
        <div class="buttonContainer">
            <button class="btn btn-success" disabled="@IsRunning" @onclick="Execute">Execute</button>
            <button class="btn btn-danger" disabled="@(!IsRunning)" @onclick="Stop">Stop</button>
        </div>

        <textarea id="txtProgramCode" @bind="@ProgramCode" readonly="@IsRunning" class="form-control" rows="13"></textarea>

    </div>
    <div class="column right">
        <h5 class="outputHead">Output</h5>
        <div class="textContainer">
            <TextIO @ref:suppressField @ref="TextIO"></TextIO>
        </div>
        <div>
            <CanvasIO></CanvasIO>
        </div>
    </div>
</div>




